body{
    background-color: aquamarine;
    font-family: monospace;
}

.secoes a {
    font-size: 50;
    display: inline-block;
    margin-right: 5%;
    padding: 1%;
    

}

.topo{
    color: white;
    border-bottom: solid;
    text-align: left;

}

