body{
    background-color: aquamarine;
    font-family: monospace;
    color: black
}

.secoes {
    color: black;
    border-bottom: solid;

}

.secoes a{
    text-decoration: none;
    color: black;
}

.secoes :hover{
    color: white;
}

.secoes h3 {
    display: inline-block;
    margin-right: 5%;
    margin-left: 4%;
    padding: 1%;
    
}

.topo {
    color: black;
    border-bottom: solid;
}

.linha{
    text-align: center;
}

.imagens {
    display: inline-block;
    margin-right: 2%;
    padding: 1%;
    width: 4%;
}
